:root {
    --color-accent: #FFFFFF;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --body-text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --font-family-main: 'Roboto', sans-serif;
    --font-weight-medium: 500;
    --font-size-main: 16px;
    --font-size-medium: 20px;
    --font-size-large: 36px;
    --line-height-main: 1.5;
    --line-height-title: 1.11;
    --line-height-medium: 1.2;
    --gap: 24px;
    --main-padding: 24px;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: 0.02em;

    background-color: var(--color-accent);
    color: var(--body-text);
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 0;
}

.title {
    font-weight: var(--font-weight-medium);
    color: var(--dark);
    margin-top: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header > .container {
   display: flex;
}

.site-nav {
    display: flex;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-header {
    display: block;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);

    color: var(--dark);
}

.logo-accent {
    color: var(--primary-brand);
}

.nav-list {
    display: flex;
    margin-left: 77px;
}

.nav-list > .item:not(:first-child),
.contact-list > .item:not(:first-child) {
    margin-left: 40px;
}

.nav-list-link {
    position: relative;
    display: block;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    font-weight: var(--font-weight-medium);
    color: var(--dark);

    transition: color var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}

.nav-list-link::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0px;
    height: 4px;
    width: 100%;
    background-color: var(--pressed-state);
    border-radius: 2px;
    opacity: 0;

    transition: background-color var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}

.nav-list-link.current {
    position: relative;
    color: var(--pressed-state);
}

.nav-list-link.current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0px;
    height: 4px;
    width: 100%;
    opacity: 1;
    background-color: var(--pressed-state);
    border-radius: 2px;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--pressed-state);
}

.nav-list-link:hover::after,
.nav-list-link:focus::after {
    opacity: 1;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .link {
    display: block;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);

    color: var(--body-text);

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact-list .link:hover,
.contact-list .link:focus {
    color: var(--primary-brand);
}

.hero {
    max-width: 1440px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark);
}

.hero .container {
    padding-top: 192px;
    padding-bottom: 192px;
    text-align: center;
}

.hero-title {
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;

    color: var(--color-accent);
}

.hero-button {
    min-width: 170px;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-medium);
    line-height: 1.19;
    text-align: center;

    background-color: var(--primary-brand);
    color: var(--color-accent);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--primary-brand);
    box-shadow: none;
}

.hero-button:active {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section:nth-child(2) {
    padding-bottom: 0;
}

.section-title {
    font-size: var(--font-size-large);
    line-height: var(--line-height-title);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    font-weight: 600;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    display: flex;
    justify-content: center;
}

.list > .item:not(:first-child) {
    margin-left: var(--gap);
}

.features-icons {
    margin-bottom: 8px;
}

.icon-thumb {
    display: flex;
    min-width: 264px;
    min-height: 112px;
    justify-content: center;
    align-items: center;
    
    background-color: var(--light);
    border-radius: 4px;
}

.icon-svg {
   max-width: 64px;
   max-height: 64px;
}

.features-list > .item {
    max-width: 264px;
}

.team-section {
    background-color: var(--light);
}

.item-content {
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;

    text-align: center;
    background-color: var(--color-accent);
}

.team-list .item-content,
.team-list .item-thumb {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.item-content > .title,
.features-list .title {
    margin-bottom: 8px;

    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.team-position {
    margin-bottom: 8px;
}

.team-sotial-item {
    min-width: 40px;
    min-height: 40px;
}

.team-sotial-item:not(:first-child) {
    margin-left: var(--gap);
}

.team-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-brand);
    border-radius: 50%;
    color: var(--light);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--pressed-state);
}

.icon-svg-team {
    max-width: 16px;
    max-height: 16px;

    background-size: contain;
    fill: currentColor;
    background-position: center;
    background-repeat: no-repeat;
}

.customers-section .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.customers-item {
    min-width: 168px;
    min-height: 88px;
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    color: var(--subtle-text);

    transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus {
    color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
}

.customers-logo {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-logo:hover,
.customers-logo:focus {
    fill: currentColor;
}


.portfolio-section {
    padding-top: 96px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list > .item:not(:first-child) {
    margin-left: var(--gap);
}

.filter-btn {
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;
    box-shadow: 0;

    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-main);
    text-align: center;

    background-color: var(--light);
    color: var(--primary-brand);

    transition: box-shadow var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--primary-brand);
    border: 1px solid var(--primary-brand);
    color: var(--color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn.current {
    background-color: var(--primary-brand);
    border: 1px solid var(--primary-brand);
    color: var(--color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(-1 * var(--gap));
}

.portfolio-list > .item {
    flex-basis: calc(100%/3 - var(--gap));
    margin-left: var(--gap);
    margin-bottom: 48px;
}

.portfolio-link {
   display: block;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

   transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-link .item-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-link .overlay {
    position: absolute;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    opacity: 0;

    transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}

.hover-text {
    position: absolute;
    top: 40px;
    left: 32px;
    max-width: 296px;
    color: var(--light);
    opacity: 0;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translateY(-100%);
    opacity: 1;
}

.portfolio-link:hover .hover-text,
.portfolio-link:focus .hover-text {
    opacity: 1;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link > .item-content {
    text-align: left;
    border-right: 0.5px solid var(--light);
    border-bottom: 0.5px solid var(--light);
    border-left: 0.5px solid var(--light);
}

.portfolio-link .text {
    color: var(--body-text);
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--dark);
}

.footer > .container {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    max-width: 264px;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;

    color: var(--light);
}

.footer-text {
    color: var(--accent);
}

.footer-social {
    margin-left: 120px;
}

.footer-lable {
    font-weight: var(--font-weight-medium) ;
    color: var(--color-accent);
    margin-bottom: 16px;
}

.social-link-item {
    min-width: 40px;
    min-height: 40px;
}


.social-link-item:not(:first-child) {
    margin-left: 16px;
}

.footer-link-list .social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--light);
}

.footer-link-list .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-link-list .social-link:hover,
.footer-link-list .social-link:focus {
    background-color: rgba(49, 208, 170, 1);
}

.icon-svg-footer {
    width: 24px;
    height: 24px;
    background-size: contain;
    fill: currentColor;
    
    background-position: center;
    background-repeat: no-repeat;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 80px;
}

.footer-subscribe-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-subscribe-label {
    display: block;
}

.footer-subscribe-input {
    display: block;
    min-width: 264px;
    height: 40px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.footer-subscribe-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    margin-left: var(--gap);
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    border: 0;

    background-color: #4D5AE5;
    color: var(--color-accent);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: var(--primary-brand);
    box-shadow: none;
}

.footer-subscribe-button:active {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.footer-subscribe-icon {
    max-width: 24px;
    max-height: 24px;
    margin-left: 16px;
    fill: currentColor;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    background-color: rgba(46, 47, 66, 0.4);

    transition: visibility var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 3;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: var(--gap);
    padding-left: var(--gap);
    
    width: 408px;
    height: 584px;
    
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    

    transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-70%, -70%);
    opacity: 0;
}

.modal-close-button {
    margin-left: auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    background-color: var(--accent);
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--pressed-state);
    color: var(--color-accent);
}

.modal-close-button:active {
    background-color: var(--pressed-state);
    color: var(--color-accent);
}

.modal-close {
    width: 8px;
    height: 8px;

    fill: currentColor;
}
    
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-form-group {
    width: 100%;
    margin-bottom: 16px;
}

.modal-form-title {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: var(--font-size-medium);
    color: var(--dark);
}

.modal-form-field:not(:last-child) {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    width: 100%;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
}

.modal-form-input {
    width: 100%;
    color: var(--dark);
}

.modal-input {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 38px;
    min-height: 40px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-icon {
    position: absolute;
    top: 26px;
    left: 16px;
    width: 18px;
    height: 24px;

    fill: currentColor;

    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form-textarea {
    height: 120px;
    padding-left: 16px;
    resize: none;
}

.modal-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-input:focus + .modal-icon {
    fill: var(--primary-brand);
}

.form-privacy {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 16px;
    cursor: pointer;
}

.form-privacy-label,
.privacy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.privacy-link {
    color: var(--primary-brand);
}

.form-privacy-icon {
    position: absolute;
    top: -1px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    min-height: 16px;
    border: 1.25px solid;
    border-color: var(--dark);
    border-radius: 2px;
    color: var(--light);

    transition: background-color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.icon-check-mark {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    fill: currentColor;

    transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.form-privacy-checkbox:focus + .form-privacy-icon, 
.form-privacy-checkbox:checked + .form-privacy-icon {
    background-color: var(--pressed-state);
    border: 0;
}

.form-privacy-checkbox:focus ~ .form-privacy-icon > .icon-check-mark,
.form-privacy-checkbox:checked  ~ .form-privacy-icon > .icon-check-mark {
    opacity: 1;
}

.modal-form-button {
    display: block;
    min-width: 169px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;

    font-weight: var(--font-weight-medium);
    line-height: 1.5;

    background-color: var(--primary-brand);
    color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: var(--primary-brand);
    box-shadow: none;
}

.modal-form-button:active {
    background-color: var(--pressed-state);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}